<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="tall-box">
        <div class="entry-title">Personal Blog</div>
        <div class="entry-button-container">
            <button class="admin-button" onclick="location.href='{{ url_for('admin_login') }}'">Admin</button>
            <!-- <button class="user-button" onclick="location.href='{{ url_for('admin_signup') }}'">User</button> -->
        </div>
    </div>
</body>

</html>